// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.


.logo{
  font-family: 'Birthstone Bounce', cursive;
  font-size: $font-size-logo;
}

.container-landing{
  @include flex-row-center();
  >.label{
    width: 40%;
    >.header{
      color: $color-blue-4;
      font-size: $font-size-11;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 700;
      line-height: 8rem;
    }
    >.subheader{
      padding-top: 2rem;
      font-size: $font-size-1;
      color: $color-black-2;
    }
    >.call-to-action{
      padding-top: 2rem;
    }
    @media only screen and (min-width: 1550px) {
      margin-left: 10vw;
    }
    @media only screen and (max-width: 1440px) {
      >.header{
        font-size: $font-size-10;
        line-height: 5rem;
      }
    }
    @media only screen and (max-width: 450px) {
      >.header{
        font-size: $font-size-6;
        line-height: 1rem;
      }

      >.subheader{
        font-size: $font-size-0;
      }
    }

    
  }

  >.image{
    height: 100%;
    width: 50%;
    // background-color: lavenderblush;
    @include flex-row-center();
    >img{
      width: 60vw;
      @media only screen and (max-width: 900px) {
        height: 60%;
      }
      @media only screen and (max-width: 760px) {
        width: 80vw;
        height: 80%;
      }
    }
  }

  @media only screen and (max-width: 760px) {
    @include flex-col-center();
    flex-direction: column-reverse;
    >.label{
      @include flex-col-center();
      width: 100%;
      >.header{
        text-align: center;
        line-height: 5rem;
      }
      >.subheader{
        padding-top: 2rem;
        text-align: center;
      }
    }

    >.image{
      width: 100%;
      
    }
  }
}

.container-landing-body{
  margin-top: 10vw;
  @include flex-col-center();
  @media only screen and (max-width: 726px) {
    margin-top: 8rem;
  }
  >.label{
    >.header{
      color: $color-blue-4;
      font-size: $font-size-10;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 700;
      line-height: 7rem;
      text-align: center;
      @media only screen and (max-width: 726px) {
        line-height: 5rem;
      }
      @media only screen and (max-width: 450px) {
        font-size: $font-size-6;
        line-height: 4rem;
      }
    }
    >.subheader{
      text-align: center;
      padding-top: 2rem;
      font-size: $font-size-1;
      color: $color-black-2;
      @media only screen and (max-width: 450px) {
        font-size: $font-size-0;
      }
    }
  }

  >.gallery{
    width: 100%;
    margin-top: 7rem;
    @include flex-row-center();
    justify-content: space-evenly;

    @media only screen and (max-width: 726px) {
      @include flex-col-center();
      >*{
        margin-top: 4rem;
      }
    }
    @media only screen and (max-width: 450px) {
      margin-top: 1rem;
    }
    >.gallery-card{
      border-radius: 5rem;
      position: relative;
      height: 30rem;
      width: 30rem;
      background-color: white;
      border: 1px solid $color-red-4;
      @include flex-col-center();
      padding: 3rem 0 2rem 0;
      >.food-img{
        border-radius: 1rem;
        height: 20rem;
        width: 23rem;
        background-repeat: no-repeat;
        background-size: cover;
      }
      >.food-name{
        padding-top: 1rem;
        font-size: $font-size-2;
        color: $color-black-4;
      }

      @media only screen and (max-width: 1127px) {
        height: 20rem;
        width: 20rem;
        >.food-img{
          border-radius: 1rem;
          height: 14rem;
          width: 16rem;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      @media only screen and (max-width: 726px) {
        height: 30rem;
        width: 30rem;
        @include flex-col-center();
        padding: 3rem 0 2rem 0;
        >.food-img{
          border-radius: 1rem;
          height: 20rem;
          width: 23rem;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      @media only screen and (max-width: 450px) {
        height: 20rem;
        width: 20rem;
        >.food-img{
          border-radius: 1rem;
          height: 14rem;
          width: 16rem;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
    >.gallery-card::after{
      z-index: -1;
      content: '';
      position: absolute;
      border-radius: 5rem;
      top: 0;
      left: 0;
      height: 30rem;
      width: 30rem;
      transform: rotate(-10deg);
      background-color: $color-red-4;

      @media only screen and (max-width: 1127px) {
        height: 20rem;
        width: 20rem;
      }
      @media only screen and (max-width: 726px) {
        height: 30rem;
        width: 30rem;
      }
      @media only screen and (max-width: 450px) {
        height: 20rem;
        width: 20rem;
      }
    }
  }
}

.container-landing-about{
  margin-top: 10vw;
  width: 100%;
  // background-color: red;
  @include flex-col-center();
  @media only screen and (max-width: 600px) {
    margin-top: 20vw;
    >:first-child{
      @include flex-col-center();
      flex-direction: column-reverse;
    }
    >*{
      @include flex-col-center();
    }
  }
  >.container-section{
    width: 100%;
    @include flex-row-center();
    
    >.label{
      width: 40rem;
      @media only screen and (max-width: 600px) {
        width: 90%;
      }
      >.header{
        color: $color-blue-4;
        font-size: $font-size-6;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
        @media only screen and (max-width: 600px) {
          font-size: $font-size-5;
          text-align: center;
          margin-bottom: 1rem;
        }
      }

      >.subheader{
        font-size: $font-size-1;
        color: $color-black-2;
        @media only screen and (max-width: 600px) {
          text-align: center;
        }
      }
    }

    >.image{
      background-color: blue;
      height: 50rem;
      width: 35rem;
      margin: 4rem;
      @media only screen and (min-width: 1550px) {
        height: 65rem;
        width: 50rem;
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
        height: 20rem;
      }
      &.img-1{
        background-image: url("landing-img-1.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
      }
      &.img-2{
        background-image: url("landing-img-2.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

.container-landing-newsletter{
  margin-top: 4rem;
  width: 100%;
  height: 35rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.651),rgba(0, 0, 0, 0.616)), url("newsletter-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3rem;
  @include flex-col-center();
  justify-content: center;
  @media only screen and (max-width: 600px) {
    padding: 3rem;
    height: 20rem;
    border-radius: 0;
  }
  @media only screen and (max-width: 450px) {
    height: 20rem;
  }
  >.label{
    color: white;
    font-size: $font-size-10;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
    @media only screen and (max-width: 800px) {
      line-height: 5rem;
      font-size: $font-size-6;
    }
    @media only screen and (max-width: 550px) {
      font-size: $font-size-4;
      line-height: 4rem;
    }
    @media only screen and (max-width: 450px) {
      font-size: $font-size-1;
      line-height: 2rem;
    }
  }
  >.newsletter-form{
    margin-top: 3rem;
    width: 40vw;
    // min-width: 50rem;
    @media only screen and (max-width: 800px) {
      width: 60vw;
    }
    >form>*{
      >:first-child{
        margin-right: 1rem;
      }
      @media only screen and (max-width: 550px) {
        @include flex-col-center();

        >:first-child{
          margin-right: 0;
        }
      }
    }
  }
}