.container-user-update{
  width: 100%;
  min-height: 90vh;
  @include flex-col();
  >.container{
    @include flex-row();
    justify-content: space-around;
    flex-direction: row-reverse;
    @media only screen and (max-width: 770px) {
      @include flex-row-center();
    }
    >.image{
      // min-width: 40rem;
      // max-width: 40rem;
      width: 43rem;
      height: 80vh;
      background-image: image_url("user-profile.svg");
      background-size: fit;
      background-repeat: no-repeat;
      @media only screen and (max-width: 770px) {
        display: none;
      }
    }
    >.information{
      @include animate-move-up();
      width: 40%;
      @media only screen and (max-width: 770px) {
        width: 80%;
      }
      >.stripe-info{
        @include flex-row();
        align-content: center;
        margin: 2rem 0;
        h5{
          font-size: $font-size-1;

          &.free{
            border: 1px solid #5ae75a;
            padding: 3px;
            color: #5ae75a;
            margin-left: 1rem;
          }

          &.pro{
            border: 1px solid $color-red-4;
            padding: 3px;
            color: $color-red-4;
            margin-left: 1rem;
          }
        }
        a{
          margin-left: 1rem;
          // margin-top: 5px;
          color: $color-red-4;
          font-size: $font-size-0;
          font-style: italic;
        }
      }
      >h2{
        font-family: 'Noto Sans', sans-serif;
        font-size: $font-size-5;
        font-weight: 700;
        color: $color-blue-4;
      }
      >p{
        margin-top: 1rem;
        text-align: center;
        font-size: $font-size-0;
        font-weight: 300;
        color: $color-blue-4;
        >a{
          color: $color-red-4;
          font-weight: 500;
        }
      }
    }

    
    
  }
}