/* Fonts:
Roboto
Nano Sans
Birthstone Bounce */
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  color: $color-black-4;
}

body{
  font-size: 1.4rem;
  width: 100%;
  @include flex-col-center();
}

a{
  font-family: 'Roboto', sans-serif;
  color: $color-black-4;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

button{
  outline: none;
  background-color: none;
  border-style: none;
  border: none;
  padding: 0;
}
