$color-red-4:  #E41E4E;
$color-red-3:  #E96987;
$color-red-2:  #EC94A9;
$color-red-1:  #F3DAE0;

$color-blue-4:  #050363;
$color-blue-3:  #0A0783;
$color-blue-2:  #0F0BC3;
$color-blue-1:  #120DF8;

$color-black-4:  #1A1A1A;
$color-black-3:  #3E3E3E;
$color-black-2:  #767676;
$color-black-1:  #A9A9A9;

$font-size-logo: 5rem;
$font-size-10: 5rem;
$font-size-9: 4.5rem;
$font-size-8: 4rem;
$font-size-7: 3.5rem;
$font-size-6: 3rem;
$font-size-5: 2.5rem;
$font-size-4: 2.2rem;
$font-size-3: 2rem;
$font-size-2: 1.8rem;
$font-size-1: 1.6rem;
$font-size-0: 1.2rem;
