nav{
  // background-color: red;
  width: 90vw;
  padding: 3rem 0;
}

main{
  width: 85vw;
  min-height: 90vh;
  // background-color: pink;
}

footer{
  width: 100%;
  min-height: 10vh;
  background-color: salmon;
}