<section class="container">
  <section class="container-landing">
    <section class="label">
      <div class="header">
        Finding <span class="red">recipes</span>
        with <span class="red">ease</span>
      </div>
      <div class="subheader">
        Having a difficult time choosing what to cook? We got you! Search recipes through our app based on your ingredients on-hand.
      </div>
      <div class="call-to-action">
        <%= link_to 'Create account now', new_user_registration_path, class: "btn-red" %>
      </div>
    </section>
    <section class="image">
      <%=image_tag("header-img2.png")%>
    </section>
  </section>
</section>
<section class="container">
  <section class="container-landing-body">
    <section class="label">
      <div class="header">
        Search any <span class="highlight-red">recipe</span> based on your main ingredient.
      </div>
      <div class="subheader">
        We have tons of recipes available at your disposal
      </div>
    </section>

    <section class="video">
      <%= video_tag('landing-page-feature.mov', autoplay: true, loop: true, muted: 'muted') %>
    </section>
  </section>
</section>

<section class="container">
  <section class="container-landing-body">
    <section class="label">
      <div class="header">
        Create your own recipe and save it in your <span class="highlight-red">collection</span>.
      </div>
      <div class="subheader">
        Create or update any recipes from your collection. You also have the ability to delete them if needed.
      </div>
    </section>

    <section class="video">
      <%= video_tag('landing-page-feature2.mov', autoplay: true, loop: true, muted: 'muted') %>
    </section>
  </section>
</section>

<section class="container">
  <section class="container-landing-body">
    <section class="label">
      <div class="header">
        Enjoy collecting unlimited recipes on <span class="highlight-red">premium</span>.
      </div>
      <div class="subheader">
        Upgrade your account to preimium for a one time payment of only $5!
      </div>
    </section>

    <section class="tier">
      <div class="free">
        <h1>Newbie</h1>
        <h5>free</h5>
        <div class="item">
          <div class="icon"></div>
          <div class="name">You create, copy, modify, and delete any recipe in your collection</div>
        </div>
        <div class="item">
          <div class="icon"></div>
          <div class="name">Search any recipe based on main ingredient anytime</div>
        </div>
        <div class="item">
          <div class="icon"></div>
          <div class="name">Can only collect a maximum of 20 recipes</div>
        </div>
      </div>

      <div class="premium">
        <h1>Chef</h1>
        <h5>$5 one time payment</h5>
        <div class="item">
          <div class="icon"></div>
          <div class="name">You create, copy, modify, and delete any recipe in your collection</div>
        </div>
        <div class="item">
          <div class="icon"></div>
          <div class="name">Search any recipe based on main ingredient anytime</div>
        </div>
        <div class="item">
          <div class="icon"></div>
          <div class="name">Can collect unlimited number of recipes</div>
        </div>
      </div>
      </div>
    </section>
  </section>
</section>

