<section class="container-header">
  <section class="label">
    <div class="header">
      Finding <span class="red">recipes</span>
      with <span class="red">ease</span>
    </div>
    <div class="subheader">
      Having a difficult time choosing what to cook? We got you! Search recipes through our app based on your ingredients on-hand.
    </div>
    <div class="call-to-action">
      <%= link_to 'Create account now', root_path, class: "btn-red" %>
    </div>
  </section>
  <section class="image">
    <%=image_tag("header-img.png")%>
  </section>
</section>

<section class="container-body">
  <section class="label">
    <div class="header">
      Helping you find what you can cook
    </div>
    <div class="subheader">
      We have tons of recipes available at your disposal
    </div>
  </section>

  <section class="gallery">
    <div class="gallery-card">
      <div class="food-img" style="background-image: url('assets/food-1.jpg')" >
     
      </div>
      <div class="food-name">
        Walnut Roll Gužvara
      </div>
    </div>

    <div class="gallery-card">
      <div class="food-img" style="background-image: url('assets/food-2.jpg')">
      </div>
      <div class="food-name">
        Chivito Uruguayo
      </div>
    </div>

    <div class="gallery-card">
      <div class="food-img" style="background-image: url('assets/food-3.jpg')">
      </div>
      <div class="food-name">
        Croatian Lamb Peka
      </div>
    </div>
  </section>
</section>