<section class="container-header">
  <section class="label">
    <div class="header">
      Finding <span class="red">recipes</span>
      with <span class="red">ease</span>
    </div>
    <div class="subheader">
      Having a difficult time choosing what to cook? We got you! Search recipes through our app based on your ingredients on-hand.
    </div>
    <div class="call-to-action">
      <%= link_to 'Create account now', root_path, class: "btn-red" %>
    </div>
  </section>
  <section class="image">
    <%=image_tag("header-img.png")%>
  </section>
</section>