<% recipes&.each do |recipe| %>
  <%= link_to search_path(recipe["idMeal"]) do %>
  <div class="card-container-recipe">
    <div class="card-img">
      <img src=<%= recipe["strMealThumb"] %> />
    </div>
    <div class="card-label">
      <%= recipe["strMeal"] %>
    </div>
  </div>
  <% end %>
<% end %>

