<% if @recipes.nil? %>
  document.querySelector(".search-label h1").innerHTML = "No result found for \"<span id='searchLabel'><%= @search_str %></span>\" "
<% else %>
  document.querySelector(".search-label h1").innerHTML = "Results for \"<span id='searchLabel'><%= @search_str %></span>\" "
<% end %>

document.querySelector(".search-result-container").innerHTML = "<%= j render partial: "searches/result", locals: { recipes: @recipes } %>"

