<section class="container-search">
  <section class="container">
    <%= form_with url: searches_path, method: :post do |form| %>
    <div class="field">
      <div class="search-icon"></div>
      <%= text_field_tag(:search, nil, placeholder: "Search ingredient e.g. eggs,chicken,etc..") %>
    </div>
    <% end %>
    <section class="search-label">
      <h1>Suggested for you</h1>
    </section>

    <section class="pagination">
      
    </section>
    
    <section class="search-result">
      <section class="search-result-container">
      <% @recipes&.each do |recipe| %>
        <div class="card-container">
          <div class="card-img">
            <img src=<%= recipe["strMealThumb"] %> />
          </div>
          <div class="card-label">
            <%= recipe["strMeal"] %>
          </div>
        </div>
      <% end %>
      </section>
    </section>
  </section>
</section>
