.btn-red{
  background: linear-gradient(0deg, #E41E4E -36.36%, rgba(242, 85, 123, 0.71) 134.55%);
  // background-color: $color-red-4;
  box-shadow: 0px 2px 8px 2px rgba(228, 30, 78, 0.25);
  border-radius: 50px;
  font-weight: 700;
  padding: 1.2rem;
  color: white;
  display: block;
  width: fit-content;
  transition: all .1s ease-in;

  &.outline{
    background: white;
    border: 1px solid $color-red-4;
    color: $color-red-4;
    box-shadow: none;
    &:hover{
      color: $color-red-4;
    }
  }

  &:hover{
    color: white;
  }

  &.square{
    border-radius: 5px;
  }

  &:active{
    color: white;
    transform: translateY(2px);
    box-shadow: 0px 1px 8px 1px rgba(228, 30, 78, 0.25);
  }

  @media only screen and (max-width: 320px) {
    padding: 1rem;
    font-size: $font-size-0;
  }
}

.btn-blue{
  background: linear-gradient(0deg, #050363 -36.36%, rgba(5, 3, 99, 0.58) 134.55%);
  box-shadow: 0px 2px 8px 2px rgba(5, 3, 99, 0.29);
  border-radius: 10px;
  display: block;
  font-weight: 700;
  padding: 1.2rem;
  width: fit-content;
  transition: all .1s ease-in;
  color: white;

  &.rounded{
    border-radius: 50px !important;
  }

  &:hover{
    color: white;
  }

  &.square{
    border-radius: 5px;
  }

  &:active{
    color: white;
    transform: translateY(2px);
    box-shadow: 0px 1px 8px 1px rgba(5, 3, 99, 0.29);
  }

  @media only screen and (max-width: 320px) {
    padding: 1rem;
    font-size: $font-size-0;
  }
}

.mobile{
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.desktop{
  display: block;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}