.card-container{
  border: 1px solid $color-black-0;
  border-radius: 1rem;
  padding: 1.5rem;
  height: 23rem;
  width: 25rem;
  @include flex-col();
  >.card-img{
    @include flex-row-center();
    position: relative;
    height: 15rem;
    width: 21rem;
  overflow: hidden;
    >img{
      height: 250px;
      width: 250px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
  }

  >.card-label{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
