.card-container{
  border: 1px solid $color-black-0;
  border-radius: 1rem;
  padding: 1.5rem;
  height: 23rem;
  width: 25rem;
  @include flex-col();
  >.card-img{
    @include flex-row-center();
    position: relative;
    height: 15rem;
    width: 21rem;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    >img{
      height: 250px;
      width: 250px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
  }

  >.card-label{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media only screen and (max-width: 1305px) {
    height: 23rem;
    width: 33rem;
    >.card-img{
      height: 15rem;
      width: 29rem;
      overflow: hidden;
      >img{
        height: 300px;
        width: 300px;
      }
    }
  }

  @media only screen and (max-width: 1270px) {
    height: 33rem;
    width: 43rem;

    >.card-img{
      height: 25rem;
      width: 39rem;
      overflow: hidden;
      >img{
        height: 400px;
        width: 400px;
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    height: 33rem;
    width: 38vw;

    >.card-img{
      height: 25rem;
      width: 35vw;
      overflow: hidden;
      >img{
        height: 400px;
        width: 400px;
      }
    }
  }

  @media only screen and (max-width: 990px) {
    height: 33rem;
    width: 33vw;

    >.card-img{
      height: 25rem;
      width: 29vw;
      overflow: hidden;
      >img{
        height: 400px;
        width: 400px;
      }
    }
  }

  @media only screen and (max-width: 822px) {
    height: 33rem;
    width: 36vw;

    >.card-img{
      height: 25rem;
      width: 32vw;
      overflow: hidden;
      >img{
        height: 400px;
        width: 400px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    height: 33rem;
    width: 90%;

    >.card-img{
      height: 25rem;
      width: 98%;
      overflow: hidden;
      >img{
        height: 450px;
        width: 450px;
      }
    }
  }

  @media only screen and (max-width: 450px) {
    height: 25rem;
    width: 90%;

    >.card-img{
      height: 17rem;
      width: 98%;
      overflow: hidden;
      >img{
        height: 300px;
        width: 300px;
      }
    }
  }
}
