.card-container{
  border: 1px solid $color-black-0;
  border-radius: 1rem;
  padding: 1.5rem;
  height: 23rem;
  width: 25rem;
  @include flex-col();
  >.card-img{
    @include flex-row-center();
    >img{
      border-radius: 1rem;
      height: 15rem;
      width: 21rem;
    }
  }

  >.card-label{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
