<div class="logo">
  <%= link_to root_path, class: "logo" do %>
  <span class="blue">Recip</span><span class="red">Ease</span>
  <% end %>
</div>

<div class="label">
  Created by Christian Michael Dollosa. © 2021
</div>